<nav role="navigation">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Companies", companies_path %></li>
    <li role="presentation"><%= link_to "Categories", categories_path %></li>
    <li role="presentation"><%= link_to "Jobs", jobs_path %></li>
    <li role="presentation"><%= link_to "jobs by interest", jobs_path(sort: "interest") %></li>
    <li role="presentation"><%= link_to "jobs by location", jobs_path(sort: "location") %></li>
  </ul>
</nav>
