<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr class=company_<%= company.id %>>
        <td>
          <%= link_to company.name, company_path(company), class: "table_name" %>
        </td>
        <td>
          <%= link_to "Edit", edit_company_path(company) %>
          <%= link_to "Delete",
            company_path(company),
            method: :delete,
            data: {confirm: "Are you sure you would like to delete #{company.name} and ALL of its asociated jobs?"}
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add a new company", new_company_path %>
