<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr class=category_<%= category.id %>>
        <td>
          <%= link_to category.title, category_path(category), class: "table_name" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Delete',
            category_path(category),
            method: :delete,
            data: {confirm: "Are you sure you would like to delete #{category.title} and ALL of its associated jobs?"}
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add a new category", new_category_path %>
